
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&family=Raleway&family=Source+Sans+Pro:wght@300&display=swap');

html {

    scroll-behavior: smooth;
}

* {

    padding: 0;
    margin: 0;
}

a {

    font-family: var(--source);
    font-size: inherit;
    color: inherit;
    text-decoration-color: #636363;
}

a:visited {

    color: inherit;
}

#about {

    background-color: white;
    padding: 10% 10% 5% 10%;

    border-radius: 5px;
}

.about-name {

    font-family: var(--source);
    color: #636363;
    font-weight: 300;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.about-graphics {

    display: flex;
    justify-content: space-around;

    padding-top: 7%;
    padding-bottom: 5%;
}

.about-graphics div {

    text-align: center;
    padding: 20px;
}

.about-graphics div h2 {

    padding-top: 8%;
    padding-bottom: 5%;

    font-family: var(--source);
    font-weight: 400;
    color: #636363;
}

.about-graphics div a {

    padding-top: 10px;
    font-family: var(--source);
    font-size: 1rem;
    color: inherit;
    border-bottom: solid 1px #636363;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.about-graphics div a:hover {

    border-bottom: solid 1px transparent;
}

.about-p {

    font-family: var(--source);
    font-size: 1.1rem;
}

.about-ul {

    padding-top: 2%;
    margin-left: 2%;

    font-family: var(--source);
    font-size: 1.1rem;
    color: inherit;
    list-style-type: none;
}

.about-dl {

    font-family: var(--source);
    margin-left: 2%;
}

.about-dl dt {

    font-size: 1.3rem;
}

.about-dl dt  .no-text-decor{

    color: inherit;
    text-decoration: none;
}

.about-dl dt .no-text-decor:hover {

    color: #636363cc;
}

h1.about-name::after {

    display: block;
    content: "";
    background-color: #dddd;
    background-image: linear-gradient(145deg, #f4b2ba, #8f7acb, #67afdb);
    height: 1px;
    width: 10%;
    border-radius: 2px;
    margin: 2% 0 3% 0;
}

body {
    
    background-color: #dddd;
    background: linear-gradient(145deg, #f4b2ba, #8f7acb, #67afdb);
}

.btn {

    font-family: var(--source);
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 7px;
    padding: 10px 35px;
    background-color: white;
    border-color: #6363636d;
    border-width: 1px;

    margin-top: 3%;

    border-style: outset;
}

.btn:hover {

    background-color: #63636312;
    cursor: pointer;
}

#contact {

    background-color: white;
    padding: 10% 10% 5% 10%;

    border-radius: 5px;
}
   
.content {

    margin-top: 8%;
    background-color: white;

    margin-left: 13%;
    margin-right: 13%;

    border-radius: 5px;
}

.copyright {

    padding-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.declare {

   width: 50%;
}

.fa-code {

    color: #efa8b0;
}

.fa-chevron-left {

    position: absolute;
    top: 17%;
    left: 13%;
    color: white;
}

.fa-chevron-left:hover {

    color: rgba(255, 255, 255, 0.837);
}

.fa-earth-americas {

    color: #a89cc8;
}

.fa-pen-nib {

    color: #8cc9f0;
}

.face-image {

    margin-top: 12%;
    width: 120px;
    border-radius: 50%;
}

.flex-break {

    flex-basis: 100%;
}

footer {

    display: flex;
    justify-content: space-between;
    padding: 5% 7% 5% 7%;
    margin-left: 13%;
    margin-right: 13%;

    flex-wrap: wrap;
}

footer div span{

    display: block;
    padding-bottom: 2%;
}

.footer-h {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 1px;

    padding-bottom: 3%;
}

.footer-h2 {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;

    margin-right: 15px;
}

.footer-p {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1.1rem;
}

.footer-p2 {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1.1rem;
}

.footer-p3 {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1rem;
}

header {

    text-align: center;
}

.inline {

    display: inline;
}

.intro-brief {

    font-family: var(--montserrat);
    color: white;
    font-size: 1.1rem;
    opacity: 0.9;
}

.line-grey {

    display: block;
    content: "";
    height: 1px;
    color: #636363;
    background-color: #dddd;
}

.mar-12 {

    margin-top: 12%;
}

.name-heading {

    font-family: var(--quicksand);
    font-weight: 500;
    color: white;
    font-size: 2.4rem;
}

nav {

    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    background-color: #f7f7f7;
}

.nav-item {

    display: inline-block;
    padding: 10px 60px;
    border-radius: 7px;
    list-style-type: none;
    text-decoration: none;
    color: #636363;
    font-family: var(--raleway);
    font-size: 1.1rem;
}

.nav-item:hover {

    background-color: #63636312;
}

#pad-1 {

    padding-top: 8%;
    padding-bottom: 8%;
}

#pad-2 {

    padding-bottom: 7%;
}

.pen-name-subheading {

    font-family: var(--quicksand);
    font-weight: 500;
    color: white;
    opacity: 0.8;
    font-size: 1rem;
}

#portfolio {

    background-color: white;
    padding: 10% 10% 5% 10%;
}

:root {

    --montserrat: 'Montserrat', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --source: 'Source Sans Pro', sans-serif;
}

.social-icons:visited {

    color: initial;
}

.text-decor {

    color: inherit;
    font-family: inherit;
    text-decoration: none;
    border-bottom: solid 1px #636363;
    transition: all ease 0.3s;
}

.text-decor:hover {

    border-bottom: solid 1px transparent;
}

@media screen and (max-width: 1400px) {

    .content {

        margin-left: 8%;
        margin-right: 8%;
    }

    footer {

        margin-left: 8%;
        margin-right: 8%;
    }
}


@media screen and (max-width: 1000px) {

    .about-graphics {

        flex-wrap: wrap;
    }

    .about-graphics div {

        padding: 0;
    }

    .about-graphics-1, .about-graphics-2 {

        width: 50%;
        padding: 0;
    }

    #about-graphics-3 {

        padding-top: 5%;
    }

    #pad-1, #pad-2, #pad-3 {

        padding-top: 3%;
        padding-bottom: 3%;
    }

    .flex-break-2 {

        flex-basis: 100%;
    }

    .optional-flex-break{

        flex-basis: 100%;
    }

    .declare {

        padding-bottom: 5%;
        width: 100%;
    }
}


@media screen and (max-width: 1100px) {
    
    .content {

        margin-left: 5%;
        margin-right: 5%;
    }

    footer {

        margin-left: 5%;
        margin-right: 5%;
    }
}


@media screen and (max-width: 750px) {

    .about-graphics {

        padding-top: 6%;
    }

    .flex-break-3 {

        flex-basis: 100%;
    }

    #about-graphics-3 {

        padding: 0;
        padding-bottom: 5%;
    }

    .about-graphics div {

        padding-bottom: 5%;
        width: 100%;
    }
}


@media screen and (max-width: 700px) {

    nav {

        display: none;
    }

    .declare {

        padding-top: 8%;
        padding-bottom: 8%;
    }

    .copyright {

        padding-top: 8%;
    }
}