
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&family=Raleway&family=Source+Sans+Pro:wght@300&display=swap');

* {

    padding: 0;
    margin: 0;
}

#about {

    background-color: white;
    padding: 10% 10% 5% 10%;
}

.about-name {

    font-family: var(--source);
    color: #636363;
    font-weight: 300;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.about-graphics {

    display: flex;
    justify-content: space-around;

    padding-top: 7%;
    padding-bottom: 5%;
}

.about-graphics div {

    text-align: center;
    padding: 20px;
}

.about-graphics div h2 {

    padding-top: 8%;
    padding-bottom: 5%;

    font-family: var(--source);
    font-weight: 400;
    color: #636363;
}

.about-p {

    font-family: var(--source);
    font-size: 1.1rem;
}

h1.about-name::after {

    display: block;
    content: "";
    background-color: #dddd;
    background-image: linear-gradient(145deg, #f4b2ba, #8f7acb, #67afdb);
    height: 1px;
    width: 10%;
    border-radius: 2px;
    margin: 2% 0 3% 0;
}

body {
    
    background-color: #dddd;
    background: linear-gradient(145deg, #f4b2ba, #8f7acb, #67afdb);
}

.btn {

    font-family: var(--source);
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 7px;
    padding: 10px 35px;
    background-color: white;
    border-color: #6363636d;
    border-width: 1px;

    margin-top: 3%;

    border-style: outset;
}

.btn:hover {

    background-color: #63636312;
    cursor: pointer;
}

#contact {

    background-color: white;
    padding: 10% 10% 5% 10%;
}
   
.content {

    margin-top: 8%;
    background-color: white;

    margin-left: 13%;
    margin-right: 13%;

    border-radius: 5px;
}

.declare {

   width: 50%;
}

.fa-code {

    color: #efa8b0;
}

.fa-earth-americas {

    color: #a89cc8;
}

.fa-pen-nib {

    color: #8cc9f0;
}

.face-image {

    margin-top: 12%;
    width: 10%;
    border-radius: 50%;
}

footer {

    display: flex;
    justify-content: space-between;
    padding: 5% 7% 5% 7%;
    margin-left: 13%;
    margin-right: 13%;
}

footer div span{

    display: block;
    padding-bottom: 2%;
}

.footer-h {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 1px;

    padding-bottom: 3%;
}

.footer-h2 {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;

    margin-right: 15px;
}

.footer-p {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1.1rem;
}

.footer-p2 {

    font-family: var(--source);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1.1rem;
}

header {

    text-align: center;
}

.inline {

    display: inline;
}

.intro-brief {

    font-family: var(--montserrat);
    color: white;
    font-size: 1.1rem;
    opacity: 0.9;
}

.line-grey {

    display: block;
    content: "";
    height: 1px;
    color: #636363;
    background-color: #dddd;
}

.name-heading {

    font-family: var(--quicksand);
    font-weight: 500;
    color: white;
    font-size: 2.4rem;
}

nav {

    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    background-color: #f7f7f7;
}

.nav-item {

    display: inline-block;
    padding: 10px 60px;
    border-radius: 7px;
    list-style-type: none;
    text-decoration: none;
    color: #636363;
    font-family: var(--raleway);
    font-size: 1.1rem;
}

.nav-item:hover {

    background-color: #63636312;
}

#pad-1 {

    padding-top: 8%;
    padding-bottom: 8%;
}

.pen-name-subheading {

    font-family: var(--quicksand);
    font-weight: 500;
    color: white;
    opacity: 0.8;
    font-size: 1rem;
}

#portfolio {

    background-color: white;
    padding: 10% 10% 5% 10%;
}

:root {
    --primary-color: #044A42;  /* Primary color */
    --secondary-color: #3A9188;  /* Secondary color */
    --text-color: #B8E1DD;  /* Text color */
    --background-color: #27496D;  /* Background color */
    --accent-color: #0A4D68;  /* Accent color */

    --montserrat: 'Montserrat', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --source: 'Source Sans Pro', sans-serif;
  }
  